/wealth-platform/.project
/wealth-platform/.settings/org.eclipse.core.resources.prefs
/wealth-platform/.settings/org.eclipse.m2e.core.prefs
/wealth-platform/wealth-platform-api/*.classpath
/wealth-platform/wealth-platform-api/*.project
/wealth-platform/wealth-platform-api/.settings/*.prefs
/wealth-platform/wealth-platform-api/bin/*.gitignore
/wealth-platform/wealth-platform-api/bin/*.xml
/wealth-platform/wealth-platform-api/bin/src/main/java/org/yuanhong/li/wealth/api/meta/*.class
/wealth-platform/wealth-platform-controller/*.classpath
/wealth-platform/wealth-platform-controller/*.project
/wealth-platform/wealth-platform-controller/.settings/*.prefs
/wealth-platform/wealth-platform-facade/*.classpath
/wealth-platform/wealth-platform-facade/*.project
/wealth-platform/wealth-platform-facade/.settings/*.prefs
/wealth-platform/wealth-platform-provider/*.classpath
/wealth-platform/wealth-platform-provider/*.project
/wealth-platform/wealth-platform-provider/.settings/*.prefs
/wealth-platform/wealth-platform-provider/bin/*.gitignore
/wealth-platform/wealth-platform-provider/bin/*.xml
/wealth-platform/wealth-platform-provider/bin/src/main/java/org/yuanhong/li/wealth/provider/dao/*.class
/wealth-platform/wealth-platform-web/*.classpath
/wealth-platform/wealth-platform-web/*.project
/wealth-platform/wealth-platform-web/.settings/*.prefs
/wealth-platform/wealth-platform-web/bin/*.gitignore
/wealth-platform/wealth-platform-web/bin/*.xml
/wealth-platform/wealth-platform-web/bin/src/main/java/org/yuanhong/li/wealth/*.class
/wealth-platform/wealth-platform-web/bin/src/main/resources/config/*.properties
/wealth-platform/wealth-platform-web/bin/src/main/resources/generator/*.xml
/wealth-platform/wealth-platform-web/bin/src/main/resources/generator/*.sql
/wealth-platform/wealth-platform-web/bin/src/main/resources/mapping/*.xml
/wealth-platform/wealth-platform-web/bin/src/main/resources/*.xml
