<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yuanhong.li.wealth.provider.dao.NovelMapper" >
  <resultMap id="BaseResultMap" type="org.yuanhong.li.wealth.api.meta.Novel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="novel_name" property="novelName" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="tags" property="tags" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIGINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, novel_name, author, tags, cover, summary, status, is_deleted, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from wealth_novel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="queryByModifyTime" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from wealth_novel
    where is_deleted=0 and modify_time &lt; #{modifyTime,jdbcType=TIMESTAMP} order by modify_time desc limit  #{limit}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from wealth_novel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.yuanhong.li.wealth.api.meta.Novel" 
  	useGeneratedKeys="true" keyProperty="id">
    insert into wealth_novel (id, novel_name, author, 
      tags, cover, summary, 
      status, is_deleted, create_time, 
      modify_time)
    values (#{id,jdbcType=BIGINT}, #{novelName,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{tags,jdbcType=VARCHAR}, #{cover,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIGINT}, #{isDeleted,jdbcType=BIGINT}, now(),now())
  </insert>
  <insert id="insertSelective" parameterType="org.yuanhong.li.wealth.api.meta.Novel" 
  	useGeneratedKeys="true" keyProperty="id">
    insert into wealth_novel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="novelName != null" >
        novel_name,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="tags != null" >
        tags,
      </if>
      <if test="cover != null" >
        cover,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      create_time,modify_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="novelName != null" >
        #{novelName,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        #{cover,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIGINT},
      </if>
      now(),now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.yuanhong.li.wealth.api.meta.Novel" >
    update wealth_novel
    <set >
      <if test="novelName != null" >
        novel_name = #{novelName,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="cover != null" >
        cover = #{cover,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      modify_time=now()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.yuanhong.li.wealth.api.meta.Novel" >
    update wealth_novel
    set novel_name = #{novelName,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      cover = #{cover,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = now()
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>