<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.yuanhong.li.wealth.provider.dao.ProjectMapper" >
  <resultMap id="BaseResultMap" type="org.yuanhong.li.wealth.api.meta.Project" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="project" property="project" jdbcType="VARCHAR" />
    <result column="project_url" property="projectUrl" jdbcType="VARCHAR" />
    <result column="pre_sale_num" property="preSaleNum" jdbcType="VARCHAR" />
    <result column="loc" property="loc" jdbcType="VARCHAR" />
    <result column="sale_date" property="saleDate" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="sale_address" property="saleAddress" jdbcType="VARCHAR" />
    <result column="total" property="total" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, project, project_url, pre_sale_num, loc, sale_date, company, address, sale_address, 
    total
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sp_project
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sp_project
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.yuanhong.li.wealth.api.meta.Project" >
    insert into sp_project (id, project, project_url, 
      pre_sale_num, loc, sale_date, 
      company, address, sale_address, 
      total)
    values (#{id,jdbcType=BIGINT}, #{project,jdbcType=VARCHAR}, #{projectUrl,jdbcType=VARCHAR}, 
      #{preSaleNum,jdbcType=VARCHAR}, #{loc,jdbcType=VARCHAR}, #{saleDate,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{saleAddress,jdbcType=VARCHAR}, 
      #{total,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.yuanhong.li.wealth.api.meta.Project" >
    insert into sp_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="project != null" >
        project,
      </if>
      <if test="projectUrl != null" >
        project_url,
      </if>
      <if test="preSaleNum != null" >
        pre_sale_num,
      </if>
      <if test="loc != null" >
        loc,
      </if>
      <if test="saleDate != null" >
        sale_date,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="saleAddress != null" >
        sale_address,
      </if>
      <if test="total != null" >
        total,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="project != null" >
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="projectUrl != null" >
        #{projectUrl,jdbcType=VARCHAR},
      </if>
      <if test="preSaleNum != null" >
        #{preSaleNum,jdbcType=VARCHAR},
      </if>
      <if test="loc != null" >
        #{loc,jdbcType=VARCHAR},
      </if>
      <if test="saleDate != null" >
        #{saleDate,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="saleAddress != null" >
        #{saleAddress,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        #{total,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.yuanhong.li.wealth.api.meta.Project" >
    update sp_project
    <set >
      <if test="project != null" >
        project = #{project,jdbcType=VARCHAR},
      </if>
      <if test="projectUrl != null" >
        project_url = #{projectUrl,jdbcType=VARCHAR},
      </if>
      <if test="preSaleNum != null" >
        pre_sale_num = #{preSaleNum,jdbcType=VARCHAR},
      </if>
      <if test="loc != null" >
        loc = #{loc,jdbcType=VARCHAR},
      </if>
      <if test="saleDate != null" >
        sale_date = #{saleDate,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="saleAddress != null" >
        sale_address = #{saleAddress,jdbcType=VARCHAR},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.yuanhong.li.wealth.api.meta.Project" >
    update sp_project
    set project = #{project,jdbcType=VARCHAR},
      project_url = #{projectUrl,jdbcType=VARCHAR},
      pre_sale_num = #{preSaleNum,jdbcType=VARCHAR},
      loc = #{loc,jdbcType=VARCHAR},
      sale_date = #{saleDate,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      sale_address = #{saleAddress,jdbcType=VARCHAR},
      total = #{total,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>